/* the default sizes, the layout file changes these according to @media */
.base {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    margin: 0;
    background-color: #e5d5c1;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.board {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 90vh;
    gap: 20px;
    max-height: 1500px;
    max-width: 2000px;
}

.nav-base {
    background-color: #2b1b1c;
    border-radius: 10px;
    width: 100%;
}

.board-grid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 10vh;
        background-color: #2b1b1c;
        border-radius: 10px;
        text-align: center;
}
/* ensures that the content is aligned properly */

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-item a {
    font-family: "Schoolbell", serif, sans-serif, Arial;
    font-size: 150%;
    color: #d5c8c8;
    text-decoration: none;
    overflow: hidden;
}

a:active {
    color: #d5c8c8;
}

.return {
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: lightgray;
    background-color: gray;
    opacity: 0.5;
}

.return:hover {
    animation: hoverEffect 0.2s ease-in 0.2s 1 forwards;
}

@keyframes hoverEffect {
    from { opacity: 50% }
    to { opacity: 100% }
}

.board-content {
    background-color: #D0BDA6;
    border-radius: 10px;
    padding: 20px 20px;
    overflow: scroll;
    overflow-x: 0px;
    overflow-y: 200px;
}

.logo {
    background-color: rgba(254, 248, 172);
    overflow: hidden;
}

@media screen and (min-width: 1500px) and (max-width: 1850px) {
    #logo {
        width: 300px;
        height: 300px;
}
}
@media screen and (min-width: 1850px) {
    #logo {
        width: 432px;
        height: 432px;
}
}

/* source: https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block */
