.placeholder {
    height: 0px;
    width: 2000px;
}

.explore-heading p {
    font-family: 'Miranda Sans', sans-serif, Arial, serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin: 0;
}

.description {
        font-family: 'Inter', sans-serif, Arial, serif;
}

@media screen and (max-width: 1500px) {
    .explore-heading {
        font-size: 50px;
    }
    .paragraph-2-heading {
        font-size: 50px;
    }
}

@media screen and (min-width: 1500px) {
    .explore-heading {
        font-size: 80px;
    }
    .paragraph-2-heading {
        font-size: 80px;
    }
    #description {
        font-size: 20px;
    }
}

@media screen and (max-height: 700px) {
    .board {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 85vh;
    }
}