/* Changes the layout of index.css based on the size of the browser*/

.explore-heading p {
    font-family: 'Miranda Sans', sans-serif, Arial, serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin: 0;
}

.description {
        font-family: 'Inter', sans-serif, Arial, serif;
}

@media screen and (max-width: 400px) {
    .board-grid {
        display: grid;
        gap: 5vw;
        font-size: 10px;
    }
    .grid-item {
        margin: 0px 0px 0px 15px;
    }
}

@media screen and (max-width: 800px) {
    .board-grid {
        gap: 10vw;
    }
}