/* Changes the layout of index.css based on the size of the browser*/

.explore-heading p {
    font-family: 'Miranda Sans', sans-serif, Arial, serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin: 0;
}

.description {
        font-family: 'Inter', sans-serif, Arial, serif;
}

@media screen and (max-width: 400px) {
    .board-grid {
        display: grid;
        gap: 5vw;
        font-size: 10px;
    }
    .grid-item {
        margin: 0px 0px 0px 15px;
    }
}

@media screen and (max-width: 800px) {
    .board-grid {
        gap: 10vw;
    }
}

@media screen and (max-width: 1500px) {
    .explore-heading {
        font-size: 50px;
    }
    .paragraph-2-heading {
        font-size: 50px;
    }
}

@media screen and (min-width: 1500px) {
    .explore-heading {
        font-size: 80px;
    }
    .paragraph-2-heading {
        font-size: 80px;
    }
    #description {
        font-size: 20px;
    }
}

@media screen and (max-height: 700px) {
    .board {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15vh 80vh;
        gap: 20px;
    }
    .grid-item {
        margin: 0px 0px 0px 5vw;
        text-align: center;
        vertical-align: middle;
        line-height: 15vh;
    }
}