.about-content {
    background-color: #2b1b1c;
}

.article-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b1b1c;
    height: 200px;
    padding: 20px;
}

.about-article-heading {
    font-family: 'Miranda Sans';
    font-size: 50px;
    font-weight: 600;
    background-color: #2b1b1c;
    color: #D0BDA6;
    padding: 30px 0px 10px 20px;
}

.about-article-introduction {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px;
    background-color: #2b1b1c;
    max-width: 660px;
    padding: 20px;
}

.about-quote {
    padding: 0px 40px 0px 40px;
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: snow;
    letter-spacing: 5px;
}

.about-quote, .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-image {
    border-radius: 20px;
}
.about-image img {
    width: 330px;
    height: 200px;
}

.about-country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b1b1c;
    font-family: 'Schoolbell', sans-serif, serif, Arial;
}

.about-country-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    max-width: 1500px;
    padding: 20px;
    overflow: scroll;
}

@media screen and (min-width: 1300px) {
    .article-anchor {
        height: 400px;
        padding: 0px;
    }
    .about-article-heading {
        padding: 5px;
    }
    .about-article-introduction {
        padding: 5px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 350px;
        max-width: 1000px;
    }
    .about-quote {
        font-size: 30px;
        padding: 0px 5px 0px 5px;
    }
    .about-image img {
        width: 660px;
        height: 400px;
    }
}

@media screen and (max-width: 675px) {
    .about-quote {
        font-size: 12px;
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (max-width: 450px) {
    .about-quote {
        font-size: 8px;
        padding: 0px 5px 0px 5px;
    }
}

@media screen and (max-width: 320px) {
    .article-anchor {
        height: 350px;
        padding: 0px;
    }
    .about-article-heading {
        padding: 5px;
        font-size: 35px;
    }
    .about-article-introduction {
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px;
        padding: 5px;
    }
    .about-quote {
        font-size: 8px;
        padding: 0px 5px 0px 5px;
    }
}