.about-content {
    background-color: #2b1b1c;
}

.article-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b1b1c;
    height: 200px;
    padding: 20px;
}

.about-article-heading {
    font-family: 'Miranda Sans';
    font-size: 50px;
    font-weight: 600;
    background-color: #2b1b1c;
    color: #D0BDA6;
    padding: 30px 0px 10px 20px;
}

.about-article-introduction {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px;
    background-color: #2b1b1c;
    max-width: 660px;
    padding: 20px;
}

.about-quote {
    padding: 0px 40px 0px 40px;
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: snow;
    letter-spacing: 5px;
}

.about-quote, .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-image {
    border-radius: 20px;
}
.about-image img {
    width: 330px;
    height: 200px;
}

.about-country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b1b1c;
    font-family: 'Schoolbell', sans-serif, serif, Arial;
}

.country-synopsis {
    padding: 20px;
    background-color: #e5d5c1;
    color: #2b1b1c;
    border: 5px solid #2b1b1c;
}

.about-country-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    max-width: 1500px;
    padding: 20px;
    overflow: scroll;
}

.about-country-item {
    padding: 20px;
    color: snow;
    letter-spacing: 5px;
    word-spacing: 5px;
    overflow: hidden;
}

.featured-heading {
    padding: 20px 5px;
    font-family: 'Miranda Sans', sans-serif, serif, Arial;
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(37, 56, 37);
    color: rgba(254, 248, 172);
}

.featured-cuisine {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 600px;
    height: 600px;
    width: 100%;
    max-width: 1500px;
    background-color: rgb(37, 56, 37);
    overflow: scroll;
}

.featured-cuisine-item {
    overflow: hidden;
}

.featured-cuisine-item-1, .featured-cuisine-item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .about-country-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 150px);
}
    .about-country-item {
        font-size: 12px;
        padding: 20px 5px;
    }
}

@media screen and (max-width: 700px) {
    .about-country-item {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .about-country-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 200px);
    }
    .about-country-item {
        font-size: 8.5px;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 300px) {
    .about-country-grid {
        grid-template-rows: repeat(3, 300px);
    }
    .about-country-item {
        font-size: 7px;
        padding: 0px 0px;
    }
}

@media screen and (max-width: 220px) {
    .about-country-item {
        font-size: 6px;
        padding: 0px 0px;
    }
}


@media screen and (min-width: 1300px) {
    .article-anchor {
        height: 400px;
        padding: 0px;
    }
    .about-article-heading {
        padding: 5px;
    }
    .about-article-introduction {
        padding: 5px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 350px;
        max-width: 1000px;
    }
    .about-quote {
        font-size: 30px;
        padding: 0px 5px 0px 5px;
    }
    .about-image img {
        width: 660px;
        height: 400px;
    }
}

@media screen and (max-width: 675px) {
    .about-quote {
        font-size: 12px;
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (max-width: 450px) {
    .about-quote {
        font-size: 8px;
        padding: 0px 5px 0px 5px;
    }
}

@media screen and (max-width: 320px) {
    .article-anchor {
        height: 350px;
        padding: 0px;
    }
    .about-article-heading {
        padding: 5px;
        font-size: 35px;
    }
    .about-article-introduction {
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px;
        padding: 5px;
    }
    .about-quote {
        font-size: 8px;
        padding: 0px 5px 0px 5px;
    }
}