.contact-content {
    background-color: #2b1b1c;
    height: 100%;
    padding: 20px;
}

.contact-heading p {
    font-family: 'Miranda Sans', serif, sans-serif, Arial;
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
    color: snow;
}

.contact-link {
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
}

.contact-link a {
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: lightgray;
}