.contact-content {
    background-color: #2b1b1c;
    height: 100%;
    padding: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.contact-heading p {
    font-family: 'Miranda Sans', serif, sans-serif, Arial;
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
    color: snow;
}

.contact-link {
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
}

.contact-link a {
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: lightgray;
}

.socials-heading {
    margin: 30px 0px 10px 0px;
}

.socials-grid-base {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, 200px);
    overflow: scroll;
}

.socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5c8c8;
    border-radius: 30px;
    overflow: hidden;
}



/* Socials */
@media screen and (max-width: 700px) {
    #socials-logo-alt {
        display: none;
    }
    .socials-item img {
        width: 200px;
        height: 200px;
    }
    .socials-item {
        width: 100%;
    }
    .socials-item-1 {
        background-image: url('/img/contact/banner-1.png');
    }
    .socials-item-2 {
        background-image: url('/img/contact/banner-2.png');
    }
}

@media screen and (min-width: 700px) {
    #socials-logo-alt {
        display: block;
    }
    #socials-logo {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .socials-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: repeat(1, 200px);
        overflow: scroll;
    }
    .socials-item-1, .social-item-2 {
        width: 100%;
    }
}

.contact-image-slider {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    max-width: 1500px; 
    min-height: 400px; 
    max-height: 900px;
}
.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-slider-item-1, .image-slider-item-3 {
    font-family: 'Inter', sans-serif, serif, Arial;
    font-size: 30px;
    background-color: grey;
}

.slide-items {
    animation: fade 1s ease-in 0s 1 forwards;
}

@keyframes fade {
    from { opacity: 70%; }
    to { opacity: 100%; }
}

/* Image Slider */
@media screen and (min-width: 600px) and (max-width: 1500px) {
    .contact-image-slider {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 600px;
        background-color: #e5d5c1;
        width: 100%;
        height: 600px;
    }
    .slide-items img {
        width: 1500px;
        height: 600px;
    }
}

@media screen and (min-width: 1500px) {
    .contact-image-slider {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        background-color: #e5d5c1;
        grid-template-rows: 900px;    
    }
    .slide-items img {
        width: 2000px;
        height: 900px;
    }
}

@media screen and (max-width: 600px) {
    .contact-image-slider {
        display: grid;
        grid-template-columns: 10% 80% 10%;   
        height: 400px;
    }
}