.contact-content {
    background-color: #2b1b1c;
    height: 100%;
    padding: 20px;
    overflow: scroll;
}

.contact-heading p {
    font-family: 'Miranda Sans', serif, sans-serif, Arial;
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
    color: snow;
}

.contact-link {
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
}

.contact-link a {
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: lightgray;
}

.socials-heading {
    margin: 30px 0px 10px 0px;
}

.socials-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, 200px);
    overflow: scroll;
}

.socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5c8c8;
    border-radius: 30px;
    overflow: hidden;
}

.socials-item-1, .socials-item-2 {
    width: 614px;
    height: 200px;
}

@media screen and (max-width: 700px) {
    #socials-logo-alt {
        display: none;
    }
    .socials-item img {
        width: 200px;
        height: 200px;
    }
    .socials-item {
        width: 100%;
    }
    .socials-item-1 {
        background-image: url('/img/contact/banner-1.png');
    }
    .socials-item-2 {
        background-image: url('/img/contact/banner-2.png');
    }
}