.cuisine-content {
    overflow: hidden;
}

.cuisine-menu-section {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, auto);
    overflow: scroll;
}

.cuisine-heading {
    padding: 0px 5px 0px 5px;
    margin: 50px 0px 30px 0px;
    font-family: 'Miranda Sans', sans-serif, serif, Arial;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 70px;
    background-color: #2b1b1c;
    color: hsl(33, 41%, 83%);
    border-radius: 10px;
}

.cuisine-main-heading {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
}

.cuisine-tiny-heading {
    padding: 10px 0px 10px 20px;
    margin: 10px 0px 0px 0px;
    font-family: 'Miranda Sans', sans-serif, serif, Arial;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 40px;
    background-color: #2b1b1c;
    color: #e5d5c1;
    border-radius: 10px;
}

.cuisine-item-description {
    padding: 5px 0px 5px 30px;
    font-family: 'Inter', sans-serif, serif, Arial;
    font-weight: 400;
}

.cuisine-item {
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 0px 0px;
    font-family: 'Miranda Sans', sans-serif, serif, Arial;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 20px;
    background-color: #2b1b1c;
    color: #e5d5c1;
    border-radius: 10px;
}

.cuisine-item {
    min-width: 200px;
    max-width: 920px;
}

.cuisine-item-overview {
    display: grid;
    grid-template-columns: 50% 450px;
    grid-template-rows: 300px;
    overflow: hidden;
    max-width: 950px;
    text-align: center;
}

.cuisine-overview-image {
    border: 0.5px solid snow;
    border-radius: 20px;
    overflow: hidden;
}

.cuisine-overview-image img {
    width: 450px;
    height: 300px;
}


.cuisine-overview-description {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.cuisine-size {
    padding: 0px 0px 0px 40px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .cuisine-overview-description {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .cuisine-item {
        height: 300px;
    }
    .cuisine-item-overview {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 50%;
        overflow: hidden;
        max-width: 950px;
        text-align: center;
    }
}
