.home-heading p {
    background-color: #2b1b1c;
    color: #e5d5c1;
    font-family: 'Miranda Sans', sans-serif, Arial, serif;
    letter-spacing: 0.5px;
    font-size: 50px;
    font-weight: 600;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    margin: 0;
}

.specialty-grid, .casual-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(1, 300px);
    overflow: scroll;
    padding: 0px;
}

.specialty-item, .casual-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: #2b1b1c;
    overflow: hidden;
    margin: 15px 0px 15px 0px;
}

.specialty-item img, .casual-item img {
    width: 500px;
    height: 300px;
}

.specialty-description, .casual-description {
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 150%);
    font-family: 'Inter', sans-serif, serif, Arial;
    font-size: 30px;
    width: 300px;
    padding: 10px;
    color: snow;
    text-align: center;
}

.home-content-end {
    margin: 20px 0px 0px 0px;
    padding: 50px;
    background-color: #2b1b1c;
    font-family: 'Schoolbell', sans-serif, serif, Arial;
    color: #e5d5c1;
}