.image-gallery-1 {
        display: grid;
        grid-template-columns: repeat(6, 300px);
        grid-template-rows: repeat(1, 300px);
        gap: 15px;
        overflow: scroll;
        overflow-x: auto;
        overflow-y: 0px;
        scrollbar-width: none;
        margin: 15px 0px 15px 0px;
    }

.image-container-1 {
    border: 0.5px solid black;
    border-radius: 20px;
    max-height: 300px;
    max-width: 400px;
    overflow: hidden;
}

.image-1 img {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.image-2 img {
    max-height: 300px;
    max-width: 400px;
    height: auto;
    width: auto;
}

.image-3 img {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.image-4 img {
    max-height: 400px;
    max-width: 300px;
    height: auto;
    width: auto;  
}